<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<title>Logowanie</title>

		<!-- Bootstrap core CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<!-- Google fonts -->

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Lobster&display=swap"
			rel="stylesheet"
		/>

		<!-- Bootstrap icons -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
		/>

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
		<!-- Custom styles for this template -->
		<link href="styles/style.css" rel="stylesheet" />
	</head>
	<body class="text-center">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<header class="masthead mb-auto">
				<div class="inner">
					<h3 class="masthead-brand">BartekCompany</h3>
					<nav class="nav nav-masthead justify-content-center">
						<a class="nav-link" href="home">Home</a>
						<a class="nav-link" href="contact">Contact</a>
						<a class="nav-link active" href="#">Orders</a>
					</nav>
				</div>
			</header>

			<main class="form-signin">
				<form action="/login" method="POST">
					<h3 style="font-family: 'Lobster', cursive">
						BartekCompany
					</h3>
					<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
					<label for="inputEmail" class="visually-hidden"
						>Email address</label
					>
					<input
						type="email"
						name="email"
						id="inputEmail"
						class="form-control"
						placeholder="Email address"
						required
						autofocus
					/>
					<label for="inputPassword" class="visually-hidden"
						>Password</label
					>
					<input
						name="pwd"
						type="password"
						id="inputPassword"
						class="form-control"
						placeholder="Password"
						required
					/>
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" value="remember-me" />
							Remember me
						</label>
					</div>
					<p class="erorr"><?= $this->get("error") ?></p>
					<button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">
						Sign in
					</button>
				</form>
			</main>

			<footer class="mastfoot mt-auto">
				<div class="inner">
					<p>
						Strona stworzona przez
						<a href="#">Bartosz Fórmanowski</a>, by
						<a href="index.html">&copy; BartoszCompany</a>.
					</p>
				</div>
			</footer>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</body>
</html>
